version: "3.9"

services:

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    networks:
      - appnet
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD-SHELL", "mongosh --username root --password root --eval \"db.adminCommand({ ping: 1 })\""]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s


  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - appnet
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s


  service-registry:
    build: ./service-registry
    container_name: service-registry
    ports:
      - "8761:8761"
    networks:
      - appnet
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 60s


  server:
    build: ./server
    container_name: server
    ports:
      - "8888:8888"
    networks:
      - appnet
    restart: always
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      service-registry:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s


  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8765:8765"
    networks:
      - appnet
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./logs/api-gateway:/app/logs
    depends_on:
      server:
        condition: service_healthy
      service-registry:
        condition: service_healthy


  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    networks:
      - appnet
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./logs/auth-service:/app/logs
    depends_on:
      server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy


  flightservice:
    build: ./flightservice
    container_name: flightservice
    networks:
      - appnet
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./logs/flightservice:/app/logs
    depends_on:
      server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy


  bookingservice:
    build: ./bookingservice
    container_name: bookingservice
    networks:
      - appnet
    environment:
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./logs/bookingservice:/app/logs
    depends_on:
      server:
        condition: service_healthy
      service-registry:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy


networks:
  appnet:
    driver: bridge
